/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    transform: scale(0.75); }
  .mfp-arrow-left {
    transform-origin: 0; }
  .mfp-arrow-right {
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

@charset "UTF-8";
/****Шрифты****/
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
/*****Стили плагинов*****/
/****Переменные****/
/* Шрифты */
/* Цвета */
/*****Основные стили*****/
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 0.86vw;
  color: #232323;
}
@media (max-width: 1001px) {
  html {
    font-size: 2.09vw;
  }
}
@media (max-width: 767px) {
  html {
    font-size: 5vw;
  }
}

html,
body {
  overflow-x: hidden;
  line-height: normal;
}

[data-js=image-popup] {
  cursor: pointer;
}

a {
  outline: none !important;
  text-decoration: none;
}

b {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 72.5em;
  padding: 0 2.5em;
  margin: 0 auto;
  box-sizing: content-box;
}
@media (max-width: 1001px) {
  .container {
    padding-right: 1.875em;
    padding-left: 1.875em;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 0.625em;
    padding-left: 0.625em;
  }
}

/****Элементы****/
.btn {
  display: block;
  border: none;
  min-height: 2.75em;
  cursor: pointer;
  border-radius: 3.125em;
  background: var(--unnamed, linear-gradient(90deg, #AD57FF 3.13%, #D6ABFF 44.27%, #D6ABFF 63.02%, #AD57FF 100%));
  color: #fff;
  text-align: center;
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.15);
  font-family: Gilroy;
  font-size: 0.938em;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
@media (max-width: 1001px) {
  .btn {
    font-size: 1.125em;
  }
}
.btn:hover {
  background: var(--unnamed, linear-gradient(90deg, #AD57FF 0%, #D6ABFF 21.38%, #D6ABFF 73.9%, #AD57FF 100%));
  text-shadow: 0 0 0.24em rgba(0, 0, 0, 0.2);
}
.btn:active {
  background: var(--unnamed, linear-gradient(87deg, #AD57FF 14.02%, #C181FF 49.48%, #AD57FF 85.98%));
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.15);
}
.btn_main {
  min-height: 3.6em;
  font-size: 1.563em;
  padding-right: 1.28em;
  padding-left: 1.28em;
}
@media (max-width: 10001px) {
  .btn_main {
    min-height: 3.278em;
    font-size: 1.125em;
    padding-right: 1.55em;
    padding-left: 1.55em;
  }
}
@media (max-width: 767px) {
  .btn_main {
    min-height: 3.688em;
    font-size: 1em;
    padding-right: 1.25em;
    padding-left: 1.25em;
    max-width: 16.875em;
  }
}
.btn_black {
  color: #232323;
  text-transform: none;
  border-radius: 1em;
}
.btn_rectangle {
  color: #232323;
  background: none;
  border: 3px solid #AD57FF;
}
@media (max-width: 1001px) {
  .btn_rectangle {
    font-size: 0.938em;
    font-weight: 500;
    min-height: 3.333em;
  }
}
@media (max-width: 767px) {
  .btn_rectangle {
    font-size: 0.813em;
    font-weight: 700;
    padding-right: 0.769em;
    padding-left: 0.769em;
  }
}
.btn_rectangle:hover {
  background: none;
  border: 3px solid #D3D3D3;
}
.btn_rectangle.active, .btn_rectangle.action-price {
  border: 3px solid #fff;
  color: #fff;
  background: var(--unnamed, radial-gradient(127.14% 127.14% at 50% 100%, #AD57FF 0%, #D6ABFF 100%));
  background-size: cover;
}
.btn_image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: none;
  font-size: 1.25em;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 11.3em;
}
@media (max-width: 1001px) {
  .btn_image {
    min-width: 10.667em;
    font-size: 0.938em;
    min-height: 3.333em;
    height: 3.333em;
  }
}
.btn_image img {
  margin-left: 0.5em;
}

.h1 {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 8.125em;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.144em;
  text-transform: uppercase;
}
@media (max-width: 1001px) {
  .h1 {
    font-size: 5em;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 767px) {
  .h1 {
    font-size: 2.5em;
  }
}
.h1_alt {
  font-family: Montserrat;
  font-size: 3.125em;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #AD57FF -17.78%, #D6ABFF 41.32%, #D6ABFF 68.25%, #AD57FF 121.36%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 1001px) {
  .h1_alt {
    font-size: 2.188em;
  }
}
@media (max-width: 767px) {
  .h1_alt {
    font-size: 1.25em;
    text-align: center;
  }
  .h1_alt span {
    display: block;
    font-size: 1.25em;
  }
}

.h2 {
  font-family: Montserrat;
  font-size: 3.125em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 1001px) {
  .h2 {
    font-size: 2.188em;
  }
}
@media (max-width: 767px) {
  .h2 {
    text-align: center;
    font-size: 1.563em;
  }
}

.h3 {
  font-family: Gilroy;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 767px) {
  .h3 {
    font-size: 1.125em;
  }
}

.menu {
  color: #fff;
  font-family: Gilroy;
  font-size: 1em;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 1001px) {
  .menu {
    left: -100vw;
  }
}
.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: -0.6em;
  margin-left: -0.6em;
}
.menu__item {
  margin-right: 0.6em;
  margin-left: 0.6em;
}
.menu__item:hover .menu__link:after {
  transition: all 0.3s ease;
  background-color: #fff;
}
.menu__link {
  position: relative;
  color: #fff;
}
.menu__link:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  width: 100%;
  height: 1px;
  border-radius: 3px;
  background-color: #D6ABFF;
}
.menu.opened {
  position: absolute;
  display: block;
  width: 100vw;
  top: -0.25em;
  left: -1.875em;
  transition: all 0.3s ease-in;
}
@media (max-width: 767px) {
  .menu.opened {
    left: -0.625em;
  }
}
.menu.opened ul {
  flex-direction: column;
  background-color: #F7F7F7;
  top: 100px;
}
.menu.opened .menu__item {
  margin-top: 1em;
  margin-bottom: 1em;
}
.menu.opened .menu__link {
  color: #232323;
}

.slick-dots {
  display: flex;
}
.slick-dots > * {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  border: 1px solid #232323;
  margin-right: 0.325em;
  margin-left: 0.325em;
}
.slick-dots > *.slick-active {
  background-color: #232323;
}
.slick-dots > * > * {
  display: none;
}

.input {
  display: inline-block;
  height: 3.6em;
  width: 14.3em;
  color: #232323;
  font-family: Gilroy;
  font-size: 1.25em;
  font-weight: 400;
  line-height: normal;
  border-radius: 1em;
  background-color: transparent;
  padding: 0.25em 0.25em 0.25em 7em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1001px) {
  .input {
    width: 14.05em;
    height: 2.93em;
    border-radius: 0.8em;
    padding-left: 5.5em;
  }
}
@media (max-width: 767px) {
  .input {
    width: 15em;
    height: 2.4em;
    border-radius: 0.938em;
    padding-left: 3.25em;
    font-size: 1em;
  }
}
.input_image {
  background-size: 1em 1em;
  background-position: left 5em center;
  background-repeat: no-repeat;
}
@media (max-width: 1001px) {
  .input_image {
    background-position: left 4em center;
  }
}
@media (max-width: 767px) {
  .input_image {
    background-position: left 1.4em center;
  }
}
.input_name {
  background-image: url("/image/name.svg");
}
.input_phone {
  background-image: url("/image/phone.svg");
}

.form {
  display: flex;
  flex-direction: column;
}
.form > *:not(:first-child) {
  margin-top: 1.5em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1001px) {
  .form > *:not(:first-child) {
    margin-top: 1em;
  }
}
.form .btn {
  width: 15.5em;
  font-size: 2.188em;
  border-radius: 0.571em;
  min-height: 3em;
  margin-top: 0.857em;
}
.form__label {
  display: inline-block;
  position: relative;
  font-size: 1.25em;
  text-align: center;
}
@media (max-width: 767px) {
  .form__label {
    font-size: 1em;
  }
}
.form__label span {
  display: inline-block;
  width: 12.5em;
  position: absolute;
  text-align: left;
  top: 50%;
  left: 9em;
  transform: translateY(-50%);
  border-bottom: 1px solid #232323;
}
@media (max-width: 1001px) {
  .form__label span {
    left: 7em;
  }
}
@media (max-width: 767px) {
  .form__label span {
    left: 3.5em;
  }
}
.form__label.focused span {
  transition: all 0.3s ease;
  top: 0.7em;
}

/* Modals */
.mfp-close,
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close,
.mfp-close-btn-in .mfp-close {
  top: 0;
  font-size: 1em;
  opacity: 1;
  transition: opacity 0.2s ease;
  width: 2.25em;
  height: 2.25em;
  background-image: url("/image/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.563em;
  margin-right: 2.5em;
  padding: 0;
}
@media (max-width: 1001px) {
  .mfp-close,
  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close,
  .mfp-close-btn-in .mfp-close {
    margin-top: 0.563em;
    margin-right: 1.5em;
  }
}
@media (max-width: 767px) {
  .mfp-close,
  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close,
  .mfp-close-btn-in .mfp-close {
    margin-right: 1em;
  }
}

.mfp-wrap {
  overflow-y: auto;
}

.mfp_video-popup .mfp-close {
  top: -35px;
}
.mfp_video-popup .mfp-close:hover {
  right: -5px;
}

.mfp_image-popup .mfp-close {
  right: -5px;
}
.mfp_image-popup .mfp-close:focus, .mfp_image-popup .mfp-close:hover {
  right: -5px;
}

.mfp_video-popup .mfp-close:focus, .mfp_video-popup .mfp-close:hover {
  top: -35px;
}

.mfp_modal-success .mfp-close,
.mfp_modal-success .mfp-close:hover {
  right: 15px;
  top: 0;
}

.mfp-close:focus, .mfp-close:hover {
  opacity: 0.7;
}

.mfp-gallery .mfp-close:focus, .mfp-gallery .mfp-close:hover {
  cursor: pointer;
  right: -5px !important;
}

.mfp-content .modal {
  display: block;
}

.modal {
  width: 100%;
  max-width: 500px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  position: relative;
  display: none;
}
@media (max-width: 767px) {
  .modal {
    padding-right: 0.375em;
    padding-left: 0.375em;
  }
}
.modal__title {
  text-align: center;
}
.modal__wrapper {
  background-color: #fff;
  padding: 3.75em 6.25em;
  border-radius: 1.25em;
}
@media (max-width: 1001px) {
  .modal__wrapper {
    padding: 2.5em;
  }
}
@media (max-width: 767px) {
  .modal__wrapper {
    padding: 2.5em 0.938em;
  }
}
.modal__grid {
  display: flex;
  margin-top: 3.125em;
}
.modal__image {
  flex: 1 0 20em;
  margin-left: 2.25em;
}

.modal__news {
  max-width: 62.313em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1001px) {
  .modal__news {
    max-width: 44.5em;
  }
}
@media (max-width: 767px) {
  .modal__news {
    max-width: 18.75em;
  }
}
@media (max-width: 767px) {
  .modal__news .modal__grid {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column-reverse;
    margin-top: 1em;
  }
  .modal__news .modal__grid > * {
    flex: 1 0 auto;
  }
}
.modal__news .modal__image {
  margin-left: 0;
  margin-bottom: 1em;
}

.modal__lesson {
  max-width: 65em;
  max-height: 37.5em;
}
@media (max-width: 1001px) {
  .modal__lesson {
    max-width: 44.5em;
  }
}
@media (max-width: 767px) {
  .modal__lesson {
    padding-right: 0;
    padding-left: 0;
  }
}
.modal__lesson .modal__title {
  font-family: Gilroy;
  font-size: 2.813em;
  font-style: normal;
  font-weight: 500;
}
@media (max-width: 1001px) {
  .modal__lesson .modal__title {
    font-size: 1.875em;
  }
}
.modal__lesson .modal__wrapper {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .modal__lesson .modal__wrapper {
    padding-right: 0.75em;
    padding-left: 0.75em;
    padding-bottom: 2.5em;
  }
}
.modal__lesson .modal__grid {
  margin-top: 0;
  justify-content: space-between;
}
.modal__lesson .modal__grid img {
  margin-left: auto;
  display: block;
}
@media (max-width: 1001px) {
  .modal__lesson .modal__grid {
    align-items: flex-start;
  }
}
@media (max-width: 1001px) {
  .modal__lesson .modal__content {
    margin-top: 2.5em;
  }
}
@media (max-width: 767px) {
  .modal__lesson .modal__image {
    display: none;
  }
}
.modal__lesson .form {
  margin-top: 1.875em;
}
@media (max-width: 1001px) {
  .modal__lesson .form__label {
    font-size: 0.938em;
  }
}
@media (max-width: 1001px) {
  .modal__lesson .form__label .input {
    font-size: 1.067em;
  }
}
@media (max-width: 767px) {
  .modal__lesson .form__label .input {
    width: 13.7em;
  }
}
@media (max-width: 1001px) {
  .modal__lesson .btn {
    font-size: 1.438em;
    width: 13.739em;
    min-height: 3.478em;
  }
}
@media (max-width: 767px) {
  .modal__lesson .btn {
    font-size: 1.125em;
    width: 15.5em;
    min-height: 2.778em;
    border-radius: 1.111em;
  }
}

.modal__employees {
  max-width: 65em;
}
@media (max-width: 1001px) {
  .modal__employees {
    max-width: 44.5em;
  }
}
@media (max-width: 767px) {
  .modal__employees {
    max-width: 18.75em;
  }
}
@media (max-width: 1001px) {
  .modal__employees .modal__wrapper {
    padding: 2.5em;
  }
}
@media (max-width: 767px) {
  .modal__employees .modal__wrapper {
    padding: 2.5em 0.75em;
  }
}
.modal__employees .modal__grid {
  display: grid;
  grid-template-areas: "modal__title modal__title" "modal__text modal__image" "modal__text modal__btn";
  grid-gap: 2em;
}
@media (max-width: 1001px) {
  .modal__employees .modal__grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 0;
    grid-gap: 1.25em;
  }
}
@media (max-width: 767px) {
  .modal__employees .modal__grid {
    grid-template-columns: auto;
    grid-template-areas: "modal__title" "modal__image" "modal__text" "modal__btn";
  }
}
.modal__employees .modal__title {
  grid-area: modal__title;
}
@media (max-width: 767px) {
  .modal__employees .modal__title {
    font-size: 1.25em;
  }
}
.modal__employees .modal__text {
  grid-area: modal__text;
  color: #232323;
  font-family: Gilroy;
  font-size: 0.938em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1001px) {
  .modal__employees .modal__text {
    font-size: 0.813em;
  }
}
.modal__employees .modal__text b {
  font-weight: 700;
}
.modal__employees .modal__text .title {
  color: #232323;
  font-family: Gilroy;
  font-size: 1.333em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 1.5em;
}
@media (max-width: 1001px) {
  .modal__employees .modal__text .title {
    font-size: 1.154em;
  }
}
.modal__employees .modal__text > *:not(:first-child) {
  margin-top: 0.333em;
}
.modal__employees .modal__text > *:last-child {
  margin-top: 2em;
}
.modal__employees .modal__image {
  grid-area: modal__image;
  margin-left: 0;
  border-radius: 1.25em;
}
.modal__employees .modal__image.mobile {
  display: none;
}
@media (max-width: 767px) {
  .modal__employees .modal__image {
    margin-right: auto;
    margin-left: auto;
  }
  .modal__employees .modal__image.desktop {
    display: none;
  }
  .modal__employees .modal__image.mobile {
    display: block;
  }
}
.modal__employees .modal__btn {
  display: block;
  grid-area: modal__btn;
  text-shadow: 0 0 0.114px rgba(0, 0, 0, 0.15);
  font-family: Gilroy;
  font-size: 2.188em;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.05em;
  min-height: 2.571em;
  height: 2.571em;
  max-width: 11.429em;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .modal__employees .modal__btn {
    font-size: 1.125em;
    min-height: 2.778em;
    height: 2.778em;
    max-width: 15.5em;
    width: 100%;
  }
}

/****Блоки****/
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@media (max-width: 1001px) {
  .header {
    background-color: #232323;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }
}
.header_dark {
  position: initial;
  background-color: #232323;
}
.header__grid {
  display: grid;
  border-radius: 0.938em;
  background-color: rgba(255, 255, 255, 0.03);
  box-shadow: 0 0.25em 0.25em 0 rgba(255, 255, 255, 0.09) inset, 0 0.25em 2.688em 0 rgba(255, 255, 255, 0.06) inset;
  -webkit-backdrop-filter: blur(28px);
          backdrop-filter: blur(28px);
  grid-template-columns: 2.5em 1fr 11.625em 11.25em;
  align-items: center;
  padding: 0.25em 0.625em 0.25em 1.563em;
}
@media (max-width: 1001px) {
  .header__grid {
    grid-template-columns: 2.5em 1fr 1fr 11.25em;
  }
}
@media (max-width: 767px) {
  .header__grid {
    border-radius: 0.625em;
  }
}
.header__phone {
  color: #fff;
  font-family: Gilroy;
  font-size: 1.25em;
  font-weight: 400;
}
.header__phone span {
  font-weight: 700;
}
@media (max-width: 1001px) {
  .header__phone {
    display: none;
  }
}
@media (max-width: 1001px) {
  .header__callback-btn {
    display: none;
  }
}
.header__menu {
  margin-left: 2.813em;
  margin-right: 2.563em;
}
@media (max-width: 1001px) {
  .header__menu {
    display: none;
    margin-right: 0;
    margin-left: 0;
  }
}
.header__burger {
  display: none;
  width: 2.692em;
  height: 1.538em;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-column: 4/5;
}
@media (max-width: 1001px) {
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.header__burger .item {
  display: block;
  background-color: #C181FF;
  height: 3px;
  width: 100%;
}
.header__burger.open {
  position: relative;
}
.header__burger.open .item {
  display: none;
}
.header__burger.open .item:first-child {
  position: absolute;
  display: block;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header__burger.open .item:last-child {
  position: absolute;
  display: block;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.first-screen {
  background-image: url("/image/first-screen/fs-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10.125em;
  padding-bottom: 7.875em;
  text-align: center;
}
@media (max-width: 1001px) {
  .first-screen {
    background-image: url("/image/first-screen/fs-bg-tablet.jpg");
    padding-top: 18.438em;
    padding-bottom: 8.188em;
  }
}
@media (max-width: 767px) {
  .first-screen {
    background-image: url("/image/first-screen/fs-bg-mobile.jpg");
    padding-top: 14.813em;
    padding-bottom: 7.063em;
  }
}
.first-screen__text {
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 1001px) {
  .first-screen__text {
    font-size: 1.563em;
  }
}
@media (max-width: 767px) {
  .first-screen__text {
    font-size: 1.25em;
    margin-bottom: 0.25em;
  }
}
.first-screen__btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.84em;
}
@media (max-width: 1001px) {
  .first-screen__btn {
    margin-top: 5.833em;
  }
}

.about {
  padding-top: 4.063em;
  padding-bottom: 3.813em;
  background-color: #F7F7F7;
}
@media (max-width: 1001px) {
  .about {
    padding-top: 3.75em;
    padding-bottom: 1.875em;
  }
}
@media (max-width: 767px) {
  .about {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.about__text {
  min-height: 24.68em;
  margin-top: 0.4em;
  background-image: url("/image/about.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: 0 0;
  font-family: Gilroy;
  font-size: 1.563em;
  font-weight: 500;
  line-height: 125%;
  padding: 0.8em 1.6em;
}
@media (max-width: 1001px) {
  .about__text {
    font-size: 1.125em;
    margin-top: 1.667em;
    background-image: none;
    padding: 0;
  }
}
@media (max-width: 767px) {
  .about__text {
    font-size: 1em;
  }
}
.about__text > *:not(:first-child) {
  margin-top: 1.28em;
}
@media (max-width: 767px) {
  .about__text > *:not(:first-child) {
    margin-top: 0.625em;
  }
}
.about__btn-group {
  display: flex;
  align-items: center;
}
@media (max-width: 1001px) {
  .about__btn-group {
    flex-direction: column;
  }
}
.about__btn-group > * {
  flex: 1 0 45%;
}
.about__text-left {
  flex-basis: 55%;
}
.about__text-left > *:not(:first-child) {
  margin-top: 0.64em;
}
.about__btn-wrapper {
  padding-left: 1.292em;
}
@media (max-width: 1001px) {
  .about__btn-wrapper {
    width: 17.778em;
    padding-left: 0;
    margin-top: 1em;
  }
}
@media (max-width: 767px) {
  .about__btn-wrapper {
    width: 100%;
  }
}
.about__btn {
  margin-right: auto;
  margin-left: auto;
  min-height: 3.75em;
  padding-right: 2.167em;
  padding-left: 2.167em;
}
@media (max-width: 1001px) {
  .about__btn {
    min-height: 3em;
    padding-right: 1.1em;
    padding-left: 1.1em;
  }
}
@media (max-width: 767px) {
  .about__btn {
    width: 100%;
  }
}

.main-slider {
  background-color: #EFEFEF;
  padding-top: 3.125em;
}
@media (max-width: 767px) {
  .main-slider__wrapper > * {
    border-radius: 1.25em;
    overflow: hidden;
  }
}
.main-slider__wrapper img {
  border-radius: 1.25em;
  display: initial;
  width: 100%;
}
.main-slider__item {
  display: grid;
  grid-template-columns: 20.625em 6.875em 12.5em 6.875em 1fr;
  align-items: start;
  grid-gap: 1.25em;
}
@media (max-width: 1001px) {
  .main-slider__item {
    grid-template-columns: 1fr 1fr;
  }
}
.main-slider__item .item_2 {
  grid-column: span 2;
}
@media (max-width: 1001px) {
  .main-slider__item .item_2 {
    grid-column: span 1;
  }
}
.main-slider__item .item_3 {
  grid-column: span 2;
}
@media (max-width: 1001px) {
  .main-slider__item .item_3 {
    display: none;
  }
}
.main-slider__item .item_4 {
  grid-column: span 2;
}
@media (max-width: 1001px) {
  .main-slider__item .item_4 {
    display: none;
  }
}
.main-slider__item .item_5 {
  grid-column: span 2;
}
@media (max-width: 1001px) {
  .main-slider__item .item_5 {
    grid-column: span 1;
  }
}
.main-slider__item img {
  border-radius: 1.25em;
  display: initial;
  width: 100%;
}
.main-slider__navigations {
  display: flex;
  width: 9.125em;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}
@media (max-width: 767px) {
  .main-slider__navigations {
    justify-content: center;
    margin-right: auto;
  }
}
.main-slider__navigations > * {
  position: relative;
  margin-right: -1em;
  margin-left: -1em;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.directions {
  padding-top: 5.313em;
  padding-bottom: 3.125em;
}
@media (max-width: 1001px) {
  .directions {
    padding-bottom: 2.5em;
    padding-top: 4.375em;
  }
}
.directions__btn-block {
  display: flex;
  justify-content: center;
  margin-top: 3.125em;
  margin-right: auto;
  margin-left: auto;
  max-width: 61.375em;
}
@media (max-width: 1001px) {
  .directions__btn-block {
    margin-top: 2.125em;
    margin-right: -1em;
    margin-left: -1em;
  }
}
@media (max-width: 767px) {
  .directions__btn-block {
    flex-direction: column;
  }
}
.directions__btn-block > * {
  flex: 0 0 auto;
  margin-right: 1.875em;
  margin-left: 1.875em;
}
@media (max-width: 1001px) {
  .directions__btn-block > * {
    margin-right: 1em;
    margin-left: 1em;
  }
}
@media (max-width: 767px) {
  .directions__btn-block > * {
    flex: 0 0 auto;
    margin-bottom: 1.538em;
  }
}
.directions__sub-btn {
  display: none;
  margin-top: 5.5em;
}
@media (max-width: 1001px) {
  .directions__sub-btn {
    margin-top: 3.75em;
  }
}
.directions__sub-btn.active {
  display: block;
}
.directions__tab-block {
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.25em;
  margin-left: -1.25em;
}
@media (max-width: 1001px) {
  .directions__tab-block {
    justify-content: center;
    margin-right: -0.867em;
    margin-left: -0.867em;
  }
}
.directions__tab-block > * {
  flex: 1 0 calc(25% - 2.5em);
  margin-right: 1.25em;
  margin-left: 1.25em;
  margin-bottom: 3.188em;
  max-width: 16.25em;
}
@media (max-width: 1001px) {
  .directions__tab-block > * {
    flex: 1 0 calc(33% - 1.733em);
    margin-right: 0.867em;
    margin-left: 0.867em;
    margin-bottom: 1.333em;
  }
}
@media (max-width: 767px) {
  .directions__tab-block > * {
    flex: 0 0 auto;
    margin-bottom: 0.769em;
  }
}
.directions__item {
  display: none;
}
.directions__item.active {
  display: flex;
}
.directions__item .img {
  flex: 1 0 21.875em;
  border-radius: 20px;
  margin-right: 3.125em;
  overflow: hidden;
  border: 0.063em solid #232323;
}
.directions__item .img img {
  height: 100%;
}
@media (max-width: 1001px) {
  .directions__item .img {
    flex: 1 0 11.5em;
    margin-right: 1.313em;
  }
}
@media (max-width: 767px) {
  .directions__item .img {
    display: none;
  }
}
.directions__info {
  font-family: Gilroy;
  align-self: stretch;
  border-radius: 20px;
  border: 0.188em solid #C181FF;
  padding: 2.813em 6.25em 3.75em;
}
@media (max-width: 1001px) {
  .directions__info {
    flex: 0 0 calc(100% - 15.813em);
    padding: 1.5em;
  }
}
@media (max-width: 767px) {
  .directions__info {
    flex: 0 1 auto;
    padding: 1.5em;
  }
}
.directions__info p,
.directions__info ol,
.directions__info ul {
  font-family: Gilroy;
  font-size: 0.938em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 0.733em;
  margin-bottom: 0.733em;
}
@media (max-width: 1001px) {
  .directions__info p,
  .directions__info ol,
  .directions__info ul {
    font-size: 0.8em;
  }
}

.news {
  padding-top: 5.125em;
  padding-bottom: 6.25em;
  background-color: #F7F7F7;
}
@media (min-width: 767px) {
  .news__grid {
    display: grid;
    margin-top: 3.125em;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2.5em;
  }
}
.news__item {
  display: flex;
  padding: 1.438em 2.5em 3.75em;
  border-radius: 1.25em;
  border: 0.188em solid #C181FF;
}
@media (max-width: 767px) {
  .news__item {
    align-items: stretch;
    padding: 1.25em 0.5em;
    border: 0.188em solid #C181FF;
  }
}
.news__item > * {
  flex: 1 0 calc(50% - 2.5em);
  margin-right: 1.25em;
  margin-left: 1.25em;
}
@media (max-width: 767px) {
  .news__item > * {
    flex: 1 0 calc(50% - 0.75em);
    margin-right: 0.375em;
    margin-left: 0.375em;
  }
}
@media (max-width: 767px) {
  .news__item .text {
    font-size: 0.75em;
    margin-top: 0.833em;
  }
}
@media (max-width: 767px) {
  .news__item .h3 {
    margin-right: -10px;
  }
}
.news__image {
  margin-top: 3em;
}
.news__popup {
  display: block;
  color: #232323;
  font-family: Gilroy;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: underline;
  margin-top: 0.5em;
}
.news__popup:hover {
  text-decoration: none;
}
.news__navigations {
  display: none;
}
@media (max-width: 767px) {
  .news__navigations {
    display: flex;
    width: 8em;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
  }
  .news__navigations > * {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
    background-color: transparent;
    border: none;
    background-image: url("/image/arrow.svg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .news__navigations > *.next {
    transform: rotate(180deg);
  }
}

.employees {
  padding-top: 4.375em;
  background-color: #F7F7F7;
}
.employees__wrapper {
  position: relative;
  margin-top: 3.125em;
  max-width: 64em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1001px) {
  .employees__wrapper {
    max-width: 39.5em;
  }
}
@media (max-width: 767px) {
  .employees__wrapper {
    max-width: 13em;
    margin-top: 1.875em;
  }
}
.employees__item {
  display: block;
  max-width: 16.25em;
  margin-right: 2.813em;
  margin-left: 2.813em;
}
@media (max-width: 1001px) {
  .employees__item {
    max-width: 12.5em;
    margin-right: 0.313em;
    margin-left: 0.313em;
  }
}
.employees__item figure {
  display: block;
  width: 100%;
  margin: 0;
}
.employees__item img {
  border-radius: 1.25em;
}
.employees__tablet {
  font-family: Gilroy;
  color: #232323;
  line-height: 130%;
  margin-top: 1.25em;
  border: 0.188em solid #C181FF;
  border-radius: 0.938em;
  padding: 0.5em;
  text-align: center;
}
@media (max-width: 1001px) {
  .employees__tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 3.125em;
    padding: 0;
  }
}
.employees__title {
  font-size: 1.25em;
  font-weight: 500;
}
@media (max-width: 1001px) {
  .employees__title {
    font-size: 0.938em;
    line-height: 130%;
  }
}
.employees__profession {
  font-size: 0.938em;
  font-weight: 400;
}
@media (max-width: 1001px) {
  .employees__profession {
    font-size: 0.813em;
    line-height: 110%;
  }
}
.employees__navigation {
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}
.employees__navigation > * {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (max-width: 1001px) {
  .employees__navigation > * > * {
    width: 0.875em;
  }
}
.employees__navigation .prev {
  left: -1.25em;
}
@media (max-width: 1001px) {
  .employees__navigation .prev {
    left: -2.75em;
  }
}
.employees__navigation .next {
  right: -1.25em;
}
@media (max-width: 1001px) {
  .employees__navigation .next {
    right: -2.75em;
  }
}

.actions {
  background-color: #F7F7F7;
  padding-top: 6.25em;
  padding-bottom: 5.313em;
}
@media (max-width: 1001px) {
  .actions {
    padding-top: 4.375em;
    padding-bottom: 3.75em;
  }
}
.actions__wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .actions__wrapper {
    max-width: 12.5em;
    margin-right: auto;
    margin-left: auto;
  }
}
.actions__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3.125em;
}
@media (max-width: 1001px) {
  .actions__grid {
    margin-top: 2.5em;
    grid-gap: 0.625em;
  }
}
@media (max-width: 767px) {
  .actions__grid {
    display: initial;
  }
}
.actions__item {
  margin-bottom: 1.8em;
}
.actions__item img {
  border-radius: 1.25em;
}
.actions__item figcaptions {
  display: block;
  padding-right: 0.3em;
  padding-left: 0.3em;
  margin-top: 1.25em;
}
@media (max-width: 767px) {
  .actions__item figcaptions {
    margin-top: 0.625em;
  }
}
@media (max-width: 1001px) {
  .actions__item {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
}
.actions__navigation {
  display: none;
  width: 100%;
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .actions__navigation {
    display: block;
  }
}
.actions__navigation > * {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}
@media (max-width: 1001px) {
  .actions__navigation > * > * {
    width: 0.875em;
  }
}
.actions__navigation .prev {
  left: -1.25em;
}
@media (max-width: 1001px) {
  .actions__navigation .prev {
    left: -2.75em;
  }
}
.actions__navigation .next {
  right: -1.25em;
}
@media (max-width: 1001px) {
  .actions__navigation .next {
    right: -2.75em;
  }
}
.actions__btn {
  min-height: 4em;
  width: 17em;
  padding-right: 1.6em;
  padding-left: 1.6em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.6em;
}
@media (max-width: 1001px) {
  .actions__btn {
    min-height: 3.5em;
  }
}

.reviews {
  padding-top: 3.125em;
  padding-bottom: 3.125em;
  background-color: #EFEFEF;
}
@media (max-width: 767px) {
  .reviews {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.reviews__wrapper {
  position: relative;
  max-width: 57em;
  margin-top: 3.125em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 767px) {
  .reviews__wrapper {
    margin-top: 1.875em;
  }
}
@media (max-width: 1001px) {
  .reviews__slider {
    padding-right: 1.875em;
    padding-left: 1.875em;
  }
}
.reviews__slider .slick-dots {
  justify-content: center;
  margin-top: 2.5em;
}
.reviews__slider img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 1.25em;
}
.reviews__navigations {
  position: absolute;
  width: 100%;
  left: -0.7em;
  top: 26%;
  transform: translateY(-50%);
}
@media (max-width: 767px) {
  .reviews__navigations svg {
    width: 0.875em;
  }
}
.reviews__navigations .prev {
  position: absolute;
  background-color: transparent;
  left: 0;
  border: none;
  width: 1em;
  height: 2.25em;
}
.reviews__navigations .next {
  position: absolute;
  background-color: transparent;
  right: 0;
  border: none;
  width: 1em;
  height: 2.25em;
}
.reviews__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 4em;
  width: 14em;
  padding-right: 1.6em;
  padding-left: 1.6em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1.6em;
}
@media (max-width: 767px) {
  .reviews__btn {
    width: 100%;
    padding-right: 0.5em;
    padding-left: 0.5em;
    min-height: 3em;
    height: 3em;
  }
}
@media (max-width: 767px) {
  .reviews__btn br {
    display: none;
  }
}

.price {
  background-color: #EFEFEF;
  padding-top: 3.125em;
  padding-bottom: 3.125em;
}
.price_alt {
  background-color: #F7F7F7;
}
.price_alt .price__grid {
  max-width: 40.875em;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 1001px) {
  .price_alt .price__grid {
    max-width: 30.938em;
  }
}
.price_alt .price__grid > * {
  flex: 1 0 100%;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0.6em;
}
.price_alt .price__grid .title {
  color: #232323;
  font-family: Gilroy;
  font-size: 1.563em;
  font-style: normal;
  line-height: 100%;
  font-weight: 700;
  margin-top: 1.2em;
}
@media (max-width: 767px) {
  .price_alt .price__grid .title {
    font-size: 1em;
  }
}
@media (max-width: 1001px) {
  .price {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
.price__content-wrapper {
  display: none;
}
.price__content-wrapper.action-price {
  display: block;
}
.price__subtitle {
  font-family: Gilroy;
  font-size: 1.25em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 2em;
  max-width: 28em;
}
@media (max-width: 1001px) {
  .price__subtitle {
    font-size: 0.938em;
    max-width: 22.667em;
  }
}
@media (max-width: 767px) {
  .price__subtitle {
    max-width: none;
  }
}
.price__grid {
  margin-top: 3.125em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-right: -1.04em;
  margin-left: -1.04em;
}
@media (max-width: 767px) {
  .price__grid {
    margin-right: 0;
    margin-left: 0;
  }
}
.price__grid > * {
  flex: 1 0 calc(50% - 2.08em);
  margin-right: 1.04em;
  margin-left: 1.04em;
  margin-bottom: 1.2em;
}
@media (max-width: 767px) {
  .price__grid > * {
    flex: 1 0 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 1001px) {
  .price__grid {
    margin-top: 1.25em;
  }
}
@media (max-width: 767px) {
  .price__grid {
    margin-top: 1.875em;
  }
}
.price__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Gilroy;
  font-size: 1.563em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 1001px) {
  .price__item {
    font-size: 1.125em;
  }
}
@media (max-width: 767px) {
  .price__item {
    font-size: 1em;
  }
}
.price__item b {
  font-weight: 700;
}
.price .h3 {
  text-align: center;
  margin-top: 1.667em;
}
.price__wrapper {
  margin-top: 1.875em;
}
@media (max-width: 1001px) {
  .price__wrapper {
    margin-top: 1.25em;
  }
}
@media (max-width: 767px) {
  .price__wrapper {
    margin-top: 0.625em;
  }
}
.price__slider .slick-slide {
  padding-right: 1.25em;
  padding-left: 1.25em;
}
@media (max-width: 1001px) {
  .price__slider .slick-slide {
    padding-right: 0.625em;
    padding-left: 0.625em;
  }
}
@media (max-width: 767px) {
  .price__slider .slick-slide {
    padding-right: 0;
    padding-left: 0;
  }
}
.price__slider-item {
  border-radius: 1.25em;
  border: 0.188em solid var(--Linear, #C181FF);
  background: #FFF;
  padding: 3.75em;
}
@media (max-width: 1001px) {
  .price__slider-item {
    padding: 1.5em;
  }
}
@media (max-width: 767px) {
  .price__slider-item {
    padding: 1.25em;
  }
}
.price__slider-item .title {
  font-family: Gilroy;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 700;
  line-height: 108%;
}
@media (max-width: 1001px) {
  .price__slider-item .title {
    font-size: 1.25em;
  }
}
@media (max-width: 767px) {
  .price__slider-item .title {
    font-size: 1.125em;
  }
}
.price__slider-item .text {
  font-family: Gilroy;
  font-size: 0.938em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 0.8em;
}
@media (max-width: 1001px) {
  .price__slider-item .text {
    font-size: 0.813em;
    margin-top: 0.769em;
  }
}
@media (max-width: 767px) {
  .price__slider-item .text {
    margin-top: 0.923em;
  }
}
.price__slider-item .text > *:not(:first-child) {
  margin-top: 0.8em;
}
@media (max-width: 1001px) {
  .price__slider-item .text > *:not(:first-child) {
    margin-top: 0.769em;
  }
}
.price__slider-grid {
  font-family: Gilroy;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25em;
}
.price__slider-grid > * {
  font-size: 0.938em;
  font-weight: 500;
  line-height: 130%;
}
@media (max-width: 1001px) {
  .price__slider-grid > * {
    font-size: 0.813em;
  }
}
.price__slider-grid > * b {
  font-size: 1.25em;
  font-weight: 700;
}
@media (max-width: 1001px) {
  .price__slider-grid > * b {
    font-size: 0.938em;
  }
}
.price__navigation {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
}
@media (max-width: 767px) {
  .price__navigation {
    justify-content: center;
  }
}
.price__navigation > * {
  border: none;
  background-color: transparent;
}

.faq {
  padding-top: 3.125em;
  background-color: #F7F7F7;
}
.faq__grid {
  display: none;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -1.25em;
  margin-left: -1.25em;
  margin-top: 2.5em;
}
.faq__grid > * {
  flex: 1 0 calc(50% - 2.5em);
  margin-right: 1.25em;
  margin-left: 1.25em;
}
.faq__grid.action {
  display: flex;
}
.faq__item {
  font-family: Gilroy;
  font-size: 1.563em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  border-bottom: 0.12em solid #D3D3D3;
  border-top: 0.12em solid #D3D3D3;
  margin-bottom: 1em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
@media (max-width: 1001px) {
  .faq__item {
    font-size: 1.125em;
  }
}
@media (max-width: 767px) {
  .faq__item {
    font-size: 1em;
  }
}
.faq__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.faq__wrapper::after {
  content: "";
  display: block;
  width: 2em;
  height: 2em;
  background-image: url("/image/cross.svg");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in;
}
.faq__wrapper.action::after {
  transform: rotate(45deg);
  transition: all 0.3s ease-in;
}
.faq__expand {
  height: 0;
  overflow: hidden;
}
.faq__expand.action {
  height: auto;
}

.questions {
  padding-top: 5.313em;
  padding-bottom: 6.25em;
  background-color: #F7F7F7;
}
@media (max-width: 1001px) {
  .questions {
    padding-top: 5em;
    padding-bottom: 5.625em;
  }
}
@media (max-width: 767px) {
  .questions {
    padding-top: 4.375em;
    padding-bottom: 5em;
  }
}
.questions .h2 {
  text-align: center;
}
@media (max-width: 767px) {
  .questions .h2 {
    letter-spacing: -0.08em;
  }
}
.questions__subtitle {
  text-align: center;
  font-family: Gilroy;
  font-size: 2.5em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1001px) {
  .questions__subtitle {
    font-size: 1.563em;
    margin-top: 0.8em;
  }
}
@media (max-width: 767px) {
  .questions__subtitle {
    font-size: 1.125em;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .questions__subtitle br {
    display: none;
  }
}
.questions__subtitle strong {
  font-weight: 700;
}
@media (max-width: 1001px) {
  .questions .btn {
    font-size: 1.45em;
    width: 21.5em;
    height: 3.478em;
  }
}
@media (max-width: 767px) {
  .questions .btn {
    width: 16.667em;
    font-size: 1.125em;
    height: 2.778em;
    min-height: 2em;
  }
}

.socials {
  display: flex;
  margin-top: 3.125em;
}
@media (max-width: 1001px) {
  .socials {
    margin-top: 1.563em;
  }
}
.socials > * {
  width: 2.938em;
  max-width: 2.938em;
  height: 2.938em;
  margin-right: 1.625em;
  margin-left: 1.625em;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1001px) {
  .socials > * {
    width: 2.5em;
    max-width: 2.5em;
    height: 2.5em;
    margin-right: 1.25em;
    margin-left: 1.25em;
  }
}
.socials__vk {
  background-image: url("/image/socials/vk.png");
}
.socials__yt {
  background-image: url("/image/socials/yt.png");
}
.socials__ig {
  background-image: url("/image/socials/ig.png");
}
.socials__tg {
  background-image: url("/image/socials/tg.svg");
}

.schedule {
  background-color: #F7F7F7;
  padding-top: 5.313em;
  padding-bottom: 5.313em;
}
@media (max-width: 1001px) {
  .schedule__wrapper {
    overflow-y: scroll;
  }
}
.schedule__table {
  margin-top: 3em;
  text-align: center;
  font-family: Gilroy;
  font-size: 1em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--Linear, #C181FF);
}
.schedule__table b {
  font-weight: 700;
  font-size: 2em;
}
.schedule__ceil {
  width: 100%;
  min-width: 8em;
  max-width: 8em;
  min-height: 8.667em;
  border: 1px solid var(--Linear, #C181FF);
}
.schedule__btn {
  margin-top: 3em;
}

.footer {
  background-color: #F7F7F7;
}
.footer_dark {
  padding-top: 3em;
  background-color: #EFEFEF;
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 40em;
  grid-template-rows: 27em;
  grid-gap: 0.8em;
  margin-bottom: 3.75em;
  align-items: start;
}
@media (max-width: 1001px) {
  .footer__grid {
    grid-template-columns: 1fr 26.563em;
    grid-template-rows: auto;
    margin-bottom: 2.5em;
  }
}
@media (max-width: 767px) {
  .footer__grid {
    grid-template-columns: 1fr;
    grid-gap: 1.875em;
  }
}
.footer__title {
  font-family: Gilroy;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  margin-top: 1em;
}
@media (max-width: 1001px) {
  .footer__title {
    font-size: 1.25em;
    margin-top: 1.25em;
  }
}
.footer__address, .footer__phone {
  font-family: Gilroy;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  margin-top: 0.5em;
  color: #232323;
}
@media (max-width: 1001px) {
  .footer__address, .footer__phone {
    font-size: 1.25em;
    margin-top: 0.25em;
  }
}
.footer__map {
  overflow: hidden;
  border-radius: 20px;
  height: 27.625em;
}
@media (max-width: 1001px) {
  .footer__map {
    height: 17.813em;
  }
}
@media (max-width: 767px) {
  .footer__map {
    height: 12.438em;
  }
}
.footer__ribbon {
  background-color: #232323;
  height: 3.75em;
}

.alt-fs {
  background-image: url("/image/alt-fs-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 7.875em;
  padding-bottom: 2.813em;
}
@media (max-width: 1001px) {
  .alt-fs {
    padding-top: 8.75em;
    padding-bottom: 9.813em;
    background-image: url("/image/alt-fs-bg-tab.jpg");
  }
}
@media (max-width: 767px) {
  .alt-fs {
    padding-top: 7.5em;
    padding-bottom: 2.688em;
    background-image: url("/image/alt-fs-mob-bg.jpg");
  }
}
.alt-fs__list {
  color: #FFF;
  font-family: Gilroy;
  font-size: 1.563em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-top: 2.12em;
  max-width: 31em;
}
@media (max-width: 1001px) {
  .alt-fs__list {
    font-size: 1.125em;
  }
}
@media (max-width: 767px) {
  .alt-fs__list {
    font-size: 0.938em;
    margin-top: 2.733em;
  }
}
.alt-fs__list-item {
  display: flex;
  align-items: center;
}
.alt-fs__list-item:not(:first-child) {
  margin-top: 1.32em;
}
.alt-fs__list-item::before {
  content: "";
  display: block;
  flex: 0 0 auto;
  width: 2.24em;
  height: 2.24em;
  margin-right: 1.2em;
  background-image: url("/image/fs-item.svg");
  background-position: center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 1001px) {
  .alt-fs__list-item::before {
    width: 1.889em;
    height: 1.889em;
    margin-right: 0.556em;
  }
}
.info {
  padding-top: 4.063em;
  padding-bottom: 3.125em;
  background-image: url("/image/info-bg.png");
  background-repeat: no-repeat;
  background-size: 73.75em 62.313em;
  background-position: top -2.25em center;
  background-color: #EFEFEF;
}
@media (max-width: 1001px) {
  .info {
    padding-top: 3.75em;
    padding-bottom: 2.5em;
  }
}
@media (max-width: 767px) {
  .info {
    padding-top: 2.5em;
  }
}
.info__count {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 42.813em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5em;
  text-align: center;
}
@media (max-width: 1001px) {
  .info__count {
    max-width: 32.188em;
    margin-top: 2.688em;
  }
}
@media (max-width: 767px) {
  .info__count {
    flex-wrap: wrap;
    max-width: 15.313em;
    margin-top: 1.875em;
  }
  .info__count > * {
    flex: 1 0 50%;
    margin-bottom: 1.875em;
  }
}
.info__count .digit {
  text-align: center;
  font-family: Gilroy;
  font-size: 6.25em;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
@media (max-width: 1001px) {
  .info__count .digit {
    font-size: 5em;
  }
}
@media (max-width: 767px) {
  .info__count .digit {
    font-size: 3.75em;
  }
}
.info__count .description {
  font-family: Gilroy;
  font-size: 1.563em;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-top: 0.8em;
}
@media (max-width: 1001px) {
  .info__count .description {
    font-size: 1.125em;
  }
}
@media (max-width: 767px) {
  .info__count .description {
    font-size: 1.125em;
  }
}
.info__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 5.313em;
  margin-right: -1.25em;
  margin-left: -1.25em;
}
@media (max-width: 1001px) {
  .info__grid {
    margin-top: 3.75em;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .info__grid {
    margin-top: 2.5em;
  }
}
.info__grid > * {
  flex: 1 0 calc(50% - 3em);
  margin-right: 1.25em;
  margin-left: 1.25em;
  margin-bottom: 2.5em;
  border-radius: 1.25em;
  border: 0.188em solid var(--Linear, #C181FF);
  background: #F7F7F7;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
@media (max-width: 1001px) {
  .info__grid > * {
    flex: 1 0 100%;
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .info__grid > * {
    margin-bottom: 1.25em;
  }
}
.info__grid-wrapper {
  padding: 3.75em 3.75em 2.5em;
}
@media (max-width: 767px) {
  .info__grid-wrapper {
    padding: 1.25em;
  }
}
.info__grid-wrapper .title {
  font-family: Gilroy;
  font-size: 1.875em;
  font-style: normal;
  font-weight: 500;
  line-height: 108%;
}
@media (max-width: 1001px) {
  .info__grid-wrapper .title {
    font-size: 1.25em;
  }
}
.info__grid-wrapper .title b {
  font-weight: 700;
  text-transform: uppercase;
}
.info__grid-wrapper p {
  font-family: Gilroy;
  font-size: 0.938em;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  margin-top: 1.333em;
}
@media (max-width: 1001px) {
  .info__grid-wrapper p {
    font-size: 0.813em;
  }
}
.info__grid-wrapper p.etc {
  color: rgba(35, 35, 35, 0.9);
  font-family: Gilroy;
  font-size: 0.813em;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
@media (max-width: 1001px) {
  .info__grid-wrapper p.etc {
    font-size: 0.75em;
  }
}

/*# sourceMappingURL=app.css.map*/