.questions {
    padding-top: 5.313em;
    padding-bottom: 6.25em;
    background-color: $light_bg;

    @media (max-width: 1001px) {
        padding-top: 5em;
        padding-bottom: 5.625em;
    }

    @media (max-width: 767px) {
        padding-top: 4.375em;
        padding-bottom: 5em;
    }

    .h2 {
        text-align: center;

        @media (max-width: 767px) {
            letter-spacing: -0.08em;
        }
    }

    &__subtitle {
        text-align: center;
        font-family: Gilroy;
        font-size: 2.5em;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        @media (max-width: 1001px) {
            font-size: 1.563em;
            margin-top: 0.8em;
        }

        @media (max-width: 767px) {
            font-size: 1.125em;
            line-height: 1;
        }

        br {
            @media (max-width: 767px) {
                display: none;
            }
        }

        strong {
            font-weight: 700;
        }
    }

    .btn {

        @media (max-width: 1001px) {
            font-size: 1.45em;
            width: 21.5em;
            height: 3.478em;
        }

        @media (max-width: 767px) {
            width: 16.667em;
            font-size: 1.125em;
            height: 2.778em;
            min-height: 2em;
        }
    }
}
