.reviews {
    padding-top: 3.125em;
    padding-bottom: 3.125em;
    background-color: $bg;

    @media (max-width: 767px) {
        padding-top: 2.5em;
        padding-bottom: 2.5em;
    }

    &__wrapper {
        position: relative;
        max-width: 57em;
        margin-top: 3.125em;
        margin-right: auto;
        margin-left: auto;

        @media (max-width: 767px) {
            margin-top: 1.875em;
        }
    }

    &__slider {

        @media (max-width: 1001px) {
            padding-right: 1.875em;
            padding-left: 1.875em;
        }

        .slick-dots {
            justify-content: center;
            margin-top: 2.5em;
        }

        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            border-radius: 1.25em;
        }
    }

    &__navigations {
        position: absolute;
        width: 100%;
        left: -0.7em;
        top: 26%;
        transform: translateY(-50%);
        svg {

            @media (max-width: 767px) {
                width: 0.875em;
            }
        }



        .prev {
            position: absolute;
            background-color: transparent;
            left: 0;
            border: none;
            width: 1em;
            height: 2.25em;
        }

        .next {
            position: absolute;
            background-color: transparent;
            right: 0;
            border: none;
            width: 1em;
            height: 2.25em;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 4em;
        width: 14em;
        padding-right: 1.6em;
        padding-left: 1.6em;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1.6em;

        @media (max-width: 767px) {
            width: 100%;
            padding-right: 0.5em;
            padding-left: 0.5em;
            min-height: 3em;
            height: 3em;
        }

        br {

            @media (max-width: 767px) {
                display: none;
            }
        }
    }
}
